h2 {
    font-family:arial;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
  width:90px;
	background-color:green;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
    cursor: pointer;
}

.list {
	font-family:garamond;
	color:yellow;
   
}

.item{
    margin-top:2px;
    margin-left:2px;
    margin-right:10px;
    margin-bottom:2px;
    background-color: black;
    color:white;
    border-radius: 5px;
}
